:root {
  --primary-color: #ff5f2e;
  --primary-hover-color: #e94f22;
}

.remark42__send-button,
.remark42__btn {
  background: #ff5f2e !important;
  border-color: #ff5f2e !important;
  color: white !important;
}
